html,body { width: 100%; height: 100%; margin: 0px; padding: 0px; font-family: verdana; }

#wrapper {
	width: 100%; height: 100%;margin: 0px; padding: 0px;
	background: gray url(../images/pmHRRetro.jpg) no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	}

#wrapper ul.sliderContainer {
	display: block;
    width: 100%;
    height: 100%;
    padding:0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    white-space:nowrap;
}

#wrapper ul.sliderContainer li.scene {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding:0;
    margin: 0;
    margin-top: 0px;
    margin-bottom:0px;
    list-style: none;
    /*float: left;*/
    overflow: hidden;
    backface-visibility: hidden;
    
}


figure {
	position: relative;
	width:95%;
	height:95%;
	margin-left:auto;
	margin-right: auto;
	border: 1px solid transparent;
	box-shadow: #373737 3px 3px 3px;
	text-shadow: #d4d4d4 1px 1px 1px;
	/*background: ;*/
	border-radius: 4px;
	background-color: white;
}

figcaption {
	position: absolute;
	bottom: 0px;
	width: 100%;
    height: 10%;
	background: #000;
	color: white;
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	text-align: center;
}

.stageContents {
	position: relative;
	width: 78%;
	height: 55%;
	background: whitesmoke;
	padding: 10%;
	margin: 10px;	
}

nav {
	display: block;
	width: 40%;
	height: 8%;
	text-align: center;
	vertical-align: middle;
	padding: 4px;
    padding-bottom: 0px;
	margin: 0;
	margin-top: -5%;
	margin-left: 57%;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
    overflow: hidden;
}

.launch {
	display: block;
	width: 40%;
	height: 15%;
	margin-left:auto;
	margin-right:auto;
	background: #000;
	color:#fff;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	padding:10px;
	margin-top: 30%;
	border-radius: 4px 4px;
	opacity: .7;
	
}
/* ----------------------------------------------------------------------------------------------------------------------------
== ICONS STYLES
** ---------------------------------------------------------------------------------------------------------------------------- */

nav ul {
    padding:0;
    margin:0;
}

nav ul li {
    position:relative;
    z-index:1;
    display: inline-block;
    overflow:hidden;
    list-style:none;
    background: #ccc;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 7px;
    background: #fff;
    background: linear-gradient(#fff, #ddd);
    background: -webkit-linear-gradient(#fff, #ddd);
    text-shadow: 0 1px 0 #fff;
    border: 1px solid rgba(0,0,0,0.7);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}


nav ul li a {
    width: 100%;
    text-decoration: none;
    vertical-align: text-bottom;
}


/* COMMENT
------------------------------------------------------------------------------------------------------------------------------- */

.comment a:before {
    width:16px;
    height:10px;
    margin-top:-8px;
    /* css3 */
    border-radius:2px;
}

.comment a:after {
    left:8px;
    border:2px solid transparent;
    border-top-color:#c55500;
    border-left-color:#c55500;
    margin-top:2px;
    background:transparent;
}

.comment a:hover:after,
.comment a:focus:after,
.comment a:active:after {
    border-top-color:#730800;
    border-left-color:#730800;
}          


/* begin css modal box styles */

/* Container */
.modal {

/* Overlay page content */
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
padding: 0px;
margin: 0px;
background: rgba(0,0,0,0.5);
z-index: 10000;

/* Transition opacity on open */
-webkit-transition: opacity 500ms ease-in;
-moz-transition: opacity 500ms ease-in;
transition: opacity 500ms ease-in;

/* Hide for now */
opacity: 0;
pointer-events: none;
}

/* Show modal */
.modal:target {
opacity: 1;
pointer-events: auto;
/* at time of writing (Feb 2012), pointer-events not supported by Opera or IE */
}

/* Content */
.modal > div {
width: 80%;
height: 80%;
background: #fff;
position: relative;
margin: 2% auto;

/* Default minimise animation */
-webkit-animation: minimise 500ms linear;
-moz-animation: minimise 500ms linear;

/* Prettify */
padding: 30px;
border-radius: 7px;
box-shadow: 0 3px 20px rgba(0,0,0,0.9);
background: #fff;
background: -moz-linear-gradient(#fff, #ccc);
background: -webkit-linear-gradient(#fff, #ccc);
background: -o-linear-gradient(#fff, #ccc);
text-shadow: 0 1px 0 #fff;
}

/* Override animation on modal open */
.modal:target > div {
-webkit-animation-name: bounce;
-moz-animation-name: bounce;
}

.modal h2 {
font-size: 36px;
padding: 0 0 20px;
}

@-webkit-keyframes bounce {
  0% {
   -webkit-transform: scale3d(0.1,0.1,1);
   box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
  55% {
   -webkit-transform: scale3d(1.08,1.08,1);
   box-shadow: 0 10px 20px rgba(0,0,0,0);
  }
  75% {
   -webkit-transform: scale3d(0.95,0.95,1);
   box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }
  100% {
   -webkit-transform: scale3d(1,1,1);
   box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }

}

@-webkit-keyframes minimise {
  0% {
   -webkit-transform: scale3d(1,1,1);
  }
  100% {
   -webkit-transform: scale3d(0.1,0.1,1);
  }
}

@-moz-keyframes bounce {
  0% {
   -moz-transform: scale3d(0.1,0.1,1);
   box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
  55% {
   -moz-transform: scale3d(1.08,1.08,1);
   box-shadow: 0 10px 20px rgba(0,0,0,0);
  }
  75% {
   -moz-transform: scale3d(0.95,0.95,1);
   box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }
  100% {
   -moz-transform: scale3d(1,1,1);
   box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
}

@-moz-keyframes minimise {
  0% {
   -moz-transform: scale3d(1,1,1);
  }
  100% {
   -moz-transform: scale3d(0.1,0.1,1);
  }
}

/* Modal close link */
.modal a[href="#close"] {
position: absolute;
right: 0;
top: 0;
color: transparent;
}

/* Reset native styles */
.modal a[href="#close"]:focus {
outline: none;
}

/* Create close button */
.modal a[href="#close"]:after {
content: 'X';
display: block;

/* Position */
position: absolute;
right: -10px;
top: -10px;
width: 1.5em;
padding: 1px 1px 1px 2px;

/* Style */
text-decoration: none;
text-shadow: none;
text-align: center;
font-weight: bold;
background: #000;
color: #fff;
border: 3px solid #fff;
border-radius: 20px;
box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.modal a[href="#close"]:focus:after,
.modal a[href="#close"]:hover:after {
-webkit-transform: scale(1.1,1.1);
-moz-transform: scale(1.1,1.1);
}

.modal a[href="#close"]:focus:after {
outline: 1px solid #000;
}

/* Open modal */
a.openModal {
}

#example2b,#example2c,#example2d,#example2e,#example2f,#example2g {
	padding: 0px;
	margin: 0px;
	background: gray url(../images/pmHRfde.jpg) no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
}

#example2b div,#example2c div,#example2d div,#example2e div,#example2f div,#example2g div {
	position: relative;
	background: gray url(../images/pmHR.jpg) no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
}

#example2b div p,#example2c div p,#example2d div p,#example2e div p,#example2f div p,#example2g div p {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-weight: bold;
	font-size: 24px;
	color: royalblue;
}

/* end css modal box styles */

/* begin nav slider styles */

/* !CSS RESET */
/* prefix declarations */
/* THEME STYLES */
#sequence-theme2,#sequence-theme3,#sequence-theme4,#sequence-theme5,#sequence-theme6,#sequence-theme7 {
  color: white;
  font-size: 0.625em;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  max-width: 1280px;
  -webkit-backface-visibility: hidden;
  /* prevent graphical glitches in WebKit browsers when using transitions */
}
#sequence-theme2 #sequence2,#sequence-theme3 #sequence3,#sequence-theme4 #sequence4,#sequence-theme5 #sequence5,#sequence-theme6 #sequence6,#sequence-theme7 #sequence7 {
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  max-width: 1280px;
  width: 100%;
  background-color: #D9D9D9;
  background-image: url("../images/bg-sequence.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

#sequence-theme2 .next,#sequence-theme3 .next,#sequence-theme4 .next,#sequence-theme5 .next,#sequence-theme6 .next,#sequence-theme7 .next,
#sequence-theme2 .prev,#sequence-theme3 .prev,#sequence-theme4 .prev,#sequence-theme5 .prev,#sequence-theme6 .prev,#sequence-theme7 .prev {
  color: white;
  cursor: pointer;
  display: inline;
  font-weight: bold;
  padding: 0px 0px;
  position: absolute;
  top: 40%;
  z-index: 1000;
  height: 75px;
  margin-top: -47.5px;
}
#sequence-theme2 .pause,#sequence-theme3 .pause,#sequence-theme4 .pause,#sequence-theme5 .pause,#sequence-theme6 .pause,#sequence-theme7 .pause {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
}
#sequence-theme2 .paused,#sequence-theme3 .paused,#sequence-theme4 .paused,#sequence-theme5 .paused,#sequence-theme6 .paused,#sequence-theme7 .paused {
  opacity: 0.3;
}
#sequence-theme2 .prev,#sequence-theme3 .prev,#sequence-theme4 .prev,#sequence-theme5 .prev,#sequence-theme6 .prev,#sequence-theme7 .prev {
  left: 3%;
}
#sequence-theme2 .next,#sequence-theme3 .next,#sequence-theme4 .next,#sequence-theme5 .next,#sequence-theme6 .next,#sequence-theme7 .next {
  right: 3%;
}
#sequence-theme2 .prev img,#sequence-theme3 .prev img,#sequence-theme4 .prev img,#sequence-theme5 .prev img,#sequence-theme6 .prev img,#sequence-theme7 .prev img,
#sequence-theme2 .next img,#sequence-theme3 .next img,#sequence-theme4 .next img,#sequence-theme5 .next img,#sequence-theme6 .next img,#sequence-theme7 .next img {
  height: 100%;
  width: auto;
}
#sequence-theme2 #sequence-preloader,#sequence-theme3 #sequence-preloader,#sequence-theme4 #sequence-preloader,#sequence-theme5 #sequence-preloader,#sequence-theme6 #sequence-preloader,#sequence-theme7 #sequence-preloader {
  background: #d9d9d9;
}
#sequence-theme2 .nav,#sequence-theme3 .nav,#sequence-theme4 .nav,#sequence-theme5 .nav,#sequence-theme6 .nav,#sequence-theme7 .nav {
  bottom: 5%;
  display: none;
  right: 5%;
  position: absolute;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  z-index: 60000;
}
#sequence-theme2 .nav li,#sequence-theme3 .nav li,#sequence-theme4 .nav li,#sequence-theme5 .nav li,#sequence-theme6 .nav li,#sequence-theme7 .nav li {
  display: block;
  height: 140px;
  float: left;
}

#sequence-theme2 .nav li:nth-child(4),#sequence-theme3 .nav li:nth-child(4),#sequence-theme4 .nav li:nth-child(4),#sequence-theme5 .nav li:nth-child(4),#sequence-theme6 .nav li:nth-child(4),#sequence-theme7 .nav li:nth-child(4) {
  background: gray;
  color: black;
  font-weight: bold;
  font-size: large;
  width: auto;
  height: 88px;
  cursor: pointer;
  padding: 20px;
  opacity: 0.5;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  /* -webkit-transform: rotate(90deg);*/
  transform: rotate(90deg);
}

#sequence-theme2 .nav li.active:nth-child(4),#sequence-theme3 .nav li.active:nth-child(4),#sequence-theme4 .nav li.active:nth-child(4),#sequence-theme5 .nav li.active:nth-child(4),#sequence-theme6 .nav li.active:nth-child(4),#sequence-theme7 .nav li.active:nth-child(4) {
  cursor: pointer;
  opacity: 1;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  /* -webkit-transform: rotate(90deg);*/
  transform: rotate(90deg);
}

#sequence-theme2 .nav li img,#sequence-theme3 .nav li img,#sequence-theme4 .nav li img,#sequence-theme5 .nav li img,#sequence-theme6 .nav li img,#sequence-theme7 .nav li img {
  cursor: pointer;
  opacity: 0.5;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
#sequence-theme2 .nav li img.active,#sequence-theme3 .nav li img.active,#sequence-theme4 .nav li img.active,#sequence-theme5 .nav li img.active,#sequence-theme6 .nav li img.active,#sequence-theme7 .nav li img.active {
  opacity: 1;
}

#sequence-theme2 #sequence2 ul,#sequence-theme3 #sequence3 ul,#sequence-theme4 #sequence4 ul,#sequence-theme5 #sequence5 ul,#sequence-theme6 #sequence6 ul,#sequence-theme7 #sequence7 ul {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px;
  list-style: none;
}


#sequence-theme2 #sequence2 li,#sequence-theme3 #sequence3 li,#sequence-theme4 #sequence4 li,#sequence-theme5 #sequence5 li,#sequence-theme6 #sequence6 li,#sequence-theme7 #sequence7 li {
  height: 100%;
  position: absolute;
  top: 0%;
  width: 100%;
  padding: 0px;
}

#sequence-theme2 #sequence2 li > *,#sequence-theme3 #sequence3 li > *,#sequence-theme4 #sequence4 li > *,#sequence-theme5 #sequence5 li > *,#sequence-theme6 #sequence6 li > *,#sequence-theme7 #sequence7 li > * {
  position: absolute;
}
#sequence-theme2 #sequence2 li img,#sequence-theme3 #sequence3 li img,#sequence-theme4 #sequence4 li img,#sequence-theme5 #sequence5 li img,#sequence-theme6 #sequence6 li img,#sequence-theme7 #sequence7 li img {
  height: 90%;
  padding: 0;
  margin: 0;
}
#sequence-theme2 #sequence2 h2,#sequence-theme3 #sequence3 h2,#sequence-theme4 #sequence4 h2,#sequence-theme5 #sequence5 h2,#sequence-theme6 #sequence6 h2,#sequence-theme7 #sequence7 h2 {
  color: white;
  font-family: 'Sirin Stencil', serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

#sequence-theme2 #sequence2 h3,#sequence-theme3 #sequence3 h3,#sequence-theme4 #sequence4 h3,#sequence-theme5 #sequence5 h3,#sequence-theme6 #sequence6 h3,#sequence-theme7 #sequence7 h3 {
  font-family: 'Ruluko', serif;
  padding: 0;
  margin: 0;
}

#sequence-theme2 .next,#sequence-theme3 .next,#sequence-theme4 .next,#sequence-theme5 .next,#sequence-theme6 .next,#sequence-theme7 .next,
#sequence-theme2 .prev,#sequence-theme3 .prev,#sequence-theme4 .prev,#sequence-theme5 .prev,#sequence-theme6 .prev,#sequence-theme7 .prev {
  position: absolute;
  opacity: 0.6;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
#sequence-theme2 .next:hover,#sequence-theme3 .next:hover,#sequence-theme4 .next:hover,#sequence-theme5 .next:hover,#sequence-theme6 .next:hover,#sequence-theme7 .next:hover,
#sequence-theme2 .prev:hover,#sequence-theme3 .prev:hover,#sequence-theme4 .prev:hover,#sequence-theme5 .prev:hover,#sequence-theme6 .prev:hover,#sequence-theme7 .prev:hover {
  opacity: 1;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
#sequence-theme2 .title,#sequence-theme3 .title,#sequence-theme4 .title,#sequence-theme5 .title,#sequence-theme6 .title,#sequence-theme7 .title {
  font-size: 3.4em;
  left: 65%;
  width: 35%;
  opacity: 0;
  top: 10%;
  z-index: 50;
}
#sequence-theme2 .animate-in .title,#sequence-theme3 .animate-in .title,#sequence-theme4 .animate-in .title,#sequence-theme5 .animate-in .title,#sequence-theme6 .animate-in .title,#sequence-theme7 .animate-in .title {
  left: 50%;
  opacity: 1;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}
#sequence-theme2 .animate-out .title,#sequence-theme3 .animate-out .title,#sequence-theme4 .animate-out .title,#sequence-theme5 .animate-out .title,#sequence-theme6 .animate-out .title,#sequence-theme7 .animate-out .title {
  left: 35%;
  opacity: 0;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}
#sequence-theme2 .subtitle,#sequence-theme3 .subtitle,#sequence-theme4 .subtitle,#sequence-theme5 .subtitle,#sequence-theme6 .subtitle,#sequence-theme7 .subtitle {
  color: black;
  font-size: 2em;
  left: 35%;
  width: 35%;
  opacity: 0;
  top: 40%;
}
#sequence-theme2 .animate-in .subtitle,#sequence-theme3 .animate-in .subtitle,#sequence-theme4 .animate-in .subtitle,#sequence-theme5 .animate-in .subtitle,#sequence-theme6 .animate-in .subtitle,#sequence-theme7 .animate-in .subtitle {
  left: 50%;
  opacity: 1;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}
#sequence-theme2 .animate-out .subtitle, #sequence-theme3 .animate-out .subtitle, #sequence-theme4 .animate-out .subtitle, #sequence-theme5 .animate-out .subtitle, #sequence-theme6 .animate-out .subtitle, #sequence-theme7 .animate-out .subtitle  {
  left: 65%;
  opacity: 0;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}
#sequence-theme2 .model,#sequence-theme3 .model,#sequence-theme4 .model,#sequence-theme5 .model,#sequence-theme6 .model,#sequence-theme7 .model {
  left: 30%;
  bottom: 0%;
  opacity: 0;
  position: relative;
  height: auto !important;
  max-height: 568px !important;
  width: 30%;
  min-width: 225px;
  /*prevents the model from shrinking when the browser is resized*/
  max-width: 266px;
}

#sequence-theme2 .model:nth-child(4),#sequence-theme3 .model:nth-child(4),#sequence-theme4 .model:nth-child(4),#sequence-theme5 .model:nth-child(4),#sequence-theme6 .model:nth-child(4),#sequence-theme7 .model:nth-child(4) {
  left: 30%;
  bottom: 0%;
  opacity: 0;
  position: relative;
  height: auto !important;
  max-height: 568px !important;
  width: 30%;
  min-width: 225px;
  /*prevents the model from shrinking when the browser is resized*/
  max-width: 266px;
  background: ivory;
  border: 2px black dotted;
  /*-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(0px);*/
  transform: rotate(4deg) scale(1) skew(1deg) translate(0px);
}


#sequence-theme2 .animate-in .model,#sequence-theme3 .animate-in .model,#sequence-theme4 .animate-in .model,#sequence-theme5 .animate-in .model,#sequence-theme6 .animate-in .model,#sequence-theme7 .animate-in .model {
  left: 15%;
  opacity: 1;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
#sequence-theme2 .animate-out .model,#sequence-theme3 .animate-out .model,#sequence-theme4 .animate-out .model,#sequence-theme5 .animate-out .model,#sequence-theme6 .animate-out .model,#sequence-theme7 .animate-out .model {
  left: 15%;
  opacity: 0;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

@media only screen and (min-width: 1224px) {
  /*only display the hover effect on desktops/laptops*/
	#sequence-theme2 .nav li img:hover,#sequence-theme3 .nav li img:hover,#sequence-theme4 .nav li img:hover,#sequence-theme5 .nav li img:hover,#sequence-theme6 .nav li img:hover,#sequence-theme7 .nav li img:hover {
    opacity: 1;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
  }
}
@media only screen and (min-width: 992px) {
	#sequence-theme2 .title,#sequence-theme3 .title,#sequence-theme4 .title,#sequence-theme5 .title,#sequence-theme6 .title,#sequence-theme7 .title {
    width: 42%;
  }
}
@media only screen and (max-width: 838px) {
	#sequence-theme2,#sequence-theme3,#sequence-theme4,#sequence-theme5,#sequence-theme6,#sequence-theme7 {
    height: 550px;
  }
  #sequence-theme2 .model,#sequence-theme3 .model,#sequence-theme4 .model,#sequence-theme5 .model,#sequence-theme6 .model,#sequence-theme7 .model {
    max-height: 530px !important;
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  #sequence-theme2,#sequence-theme3,#sequence-theme4,#sequence-theme5,#sequence-theme6,#sequence-theme7 {
    height: 500px;
  }
  #sequence-theme2 .title,#sequence-theme3 .title,#sequence-theme4 .title,#sequence-theme5 .title,#sequence-theme6 .title,#sequence-theme7 .title {
    font-size: 2.8em;
  }
  #sequence-theme2 .subtitle,#sequence-theme3 .subtitle,#sequence-theme4 .subtitle,#sequence-theme5 .subtitle,#sequence-theme6 .subtitle,#sequence-theme7 .subtitle {
    font-size: 1.6em;
  }
  #sequence-theme2 .next,#sequence-theme3 .next,#sequence-theme4 .next,#sequence-theme5 .next,#sequence-theme6 .next,#sequence-theme7 .next,
  #sequence-theme2 .prev,#sequence-theme3 .prev,#sequence-theme4 .prev,#sequence-theme5 .prev,#sequence-theme6 .prev,#sequence-theme7 .prev {
    height: 60px;
    margin-top: -40px;
  }
  #sequence-theme2 .model,#sequence-theme3 .model,#sequence-theme4 .model,#sequence-theme5 .model,#sequence-theme6 .model,#sequence-theme7 .model {
    max-height: 480px !important;
    width: auto;
  }
}
@media only screen and (max-width: 568px) {
  #sequence-theme2 .model,#sequence-theme3 .model,#sequence-theme4 .model,#sequence-theme5 .model,#sequence-theme6 .model,#sequence-theme7 .model {
    left: 50%;
    min-width: 40%;
    /*prevents the model from shrinking when the browser is resized*/
    width: 40%;
  }
  #sequence-theme2 .animate-in .model,#sequence-theme3 .animate-in .model,#sequence-theme4 .animate-in .model,#sequence-theme5 .animate-in .model,#sequence-theme6 .animate-in .model,#sequence-theme7 .animate-in .model {
    left: 50%;
    margin-left: -20%;
  }
  #sequence-theme2 .animate-out .model,#sequence-theme3 .animate-out .model,#sequence-theme4 .animate-out .model,#sequence-theme5 .animate-out .model,#sequence-theme6 .animate-out .model,#sequence-theme7 .animate-out .model {
    left: 50%;
    margin-left: -20%;
  }
  #sequence-theme2 .title,#sequence-theme3 .title,#sequence-theme4 .title,#sequence-theme5 .title,#sequence-theme6 .title,#sequence-theme7 .title {
    background: #a1a1a1;
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 100%;
    padding: 4%;
    bottom: -50%;
    width: 100%;
    z-index: 10;
  }
  #sequence-theme2 .animate-in .title,#sequence-theme3 .animate-in .title,#sequence-theme4 .animate-in .title,#sequence-theme5 .animate-in .title,#sequence-theme6 .animate-in .title,#sequence-theme7 .animate-in .title {
    left: 0%;
  }
  #sequence-theme2 .animate-out .title,#sequence-theme3 .animate-out .title,#sequence-theme4 .animate-out .title,#sequence-theme5 .animate-out .title,#sequence-theme6 .animate-out .title,#sequence-theme7 .animate-out .title {
    left: -100%;
  }
  #sequence-theme2 .subtitle,#sequence-theme3 .subtitle,#sequence-theme4 .subtitle,#sequence-theme5 .subtitle,#sequence-theme6 .subtitle,#sequence-theme7 .subtitle {
    visibility: hidden;
  }
  #sequence-theme2 .nav,#sequence-theme3 .nav,#sequence-theme4 .nav,#sequence-theme5 .nav,#sequence-theme6 .nav,#sequence-theme7 .nav {
    bottom: 40px;
  }
  #sequence-theme2 .nav li img,#sequence-theme3 .nav li img,#sequence-theme4 .nav li img,#sequence-theme5 .nav li img,#sequence-theme6 .nav li img,#sequence-theme7 .nav li img {
    height: 100px;
  }
}
@media only screen and (max-width: 518px) {
  #sequence-theme2,#sequence-theme3,#sequence-theme4,#sequence-theme5,#sequence-theme6,#sequence-theme7 {
    height: 450px;
  }
}
@media only screen and (max-width: 468px) {
  #sequence-theme2,#sequence-theme3,#sequence-theme4,#sequence-theme5,#sequence-theme6,#sequence-theme7 {
    height: 415px;
  }
  #sequence-theme2 .nav,#sequence-theme3 .nav,#sequence-theme4 .nav,#sequence-theme5 .nav,#sequence-theme6 .nav,#sequence-theme7 .nav {
    opacity: 0;
    visibility: hidden;
  }
}
@media only screen and (max-width: 418px) {
  #sequence-theme2,#sequence-theme3,#sequence-theme4,#sequence-theme5,#sequence-theme6,#sequence-theme7 {
    height: 375px;
  }
}
@media only screen and (max-width: 368px) {
  #sequence-theme2,#sequence-theme3,#sequence-theme4,#sequence-theme5,#sequence-theme6,#sequence-theme7 {
    height: 325px;
  }
  #sequence-theme2 .title,#sequence-theme3 .title,#sequence-theme4 .title,#sequence-theme5 .title,#sequence-theme6 .title,#sequence-theme7 .title {
    font-size: 2.2em;
  }
}
@media only screen and (max-width: 320px) and (orientation: portrait) {
  /*iphone portrait*/
  #sequence-theme2,#sequence-theme3,#sequence-theme4,#sequence-theme5,#sequence-theme6,#sequence-theme7 {
    height: 320px;
  }
  #sequence-theme2 .model,#sequence-theme3 .model,#sequence-theme4 .model,#sequence-theme5 .model,#sequence-theme6 .model,#sequence-theme7 .model {
    min-width: 45%;
    width: 45%;
  }
  #sequence-theme2 .animate-in .model,#sequence-theme3 .animate-in .model,#sequence-theme4 .animate-in .model,#sequence-theme5 .animate-in .model,#sequence-theme6 .animate-in .model,#sequence-theme7 .animate-in .model {
    margin-left: -22.5%;
  }
  #sequence-theme2 .animate-out .model,#sequence-theme3 .animate-out .model,#sequence-theme4 .animate-out .model,#sequence-theme5 .animate-out .model,#sequence-theme6 .animate-out .model,#sequence-theme7 .animate-out .model {
    margin-left: -22.5%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) and (orientation: landscape) {
  #sequence-theme2,#sequence-theme3,#sequence-theme4,#sequence-theme5,#sequence-theme6,#sequence-theme7 {
    height: 260px;
  }
  #sequence-theme2 .model,#sequence-theme3 .model,#sequence-theme4 .model,#sequence-theme5 .model,#sequence-theme6 .model,#sequence-theme7 .model {
    min-width: 24%;
    width: 24%;
  }
  #sequence-theme2 .animate-in .model,#sequence-theme3 .animate-in .model,#sequence-theme4 .animate-in .model,#sequence-theme5 .animate-in .model,#sequence-theme6 .animate-in .model,#sequence-theme7 .animate-in .model {
    left: 17.5%;
    margin-left: 0;
  }
  #sequence-theme2 .animate-out .model,#sequence-theme3 .animate-out .model,#sequence-theme4 .animate-out .model,#sequence-theme5 .animate-out .model,#sequence-theme6 .animate-out .model,#sequence-theme7 .animate-out .model {
    left: 17.5%;
    margin-left: 0;
  }
  #sequence-theme2 .nav,#sequence-theme3 .nav,#sequence-theme4 .nav,#sequence-theme5 .nav,#sequence-theme6 .nav,#sequence-theme7 .nav {
    right: 17.5%;
  }
}
/* end nav slider styles */
